<!DOCTYPE html>
<html>
  <html ng-app="ui.bootstrap.demo">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
  <body ng-controller="DropdownCtrl">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Baby Predictor</title>
    <link rel="stylesheet" href="main.css">

       <nav class="navLogin">
    <h1>Baby Predictor</h1>
   </nav>

<!-- Skin Color -->
  <!-- Father -->
   <div>
    <p>Skin</p>
    <p>Father</p>
    <div class="btn-group" uib-dropdown>
      <button id="fatherSkin" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ fatherSkin }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fatherSkin">
        <li role="menuitem"><a ng-click="fatherSkinColor('Olive')" href="#">Olive</a></li>
        <li role="menuitem"><a ng-click="fatherSkinColor('Pale')" href="#">Pale</a></li>
      </ul>
    </div>

    <!-- mother -->
    <p>Mother</p>
    <div class="btn-group" uib-dropdown>
      <button id="motherSkin" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ motherSkin }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motherskin">
        <li role="menuitem"><a ng-click="motherSkinColor('Olive')" href="#">Olive</a></li>
        <li role="menuitem"><a ng-click="motherSkinColor('Pale')" href="#">Pale</a></li>
      </ul>
    </div>
    <input type="submit" value="Submit">
   </div>

<!-- Eye Brows -->
  <!-- Father -->
   <div>
    <p>Eye Brows</p>
    <p>Father</p>
    <div class="btn-group" uib-dropdown>
      <button id="fatherBrows" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ fatherBrows }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fatherBrows">
        <li role="menuitem"><a ng-click="fatherBrowsConnection('Separate')" href="#">Separate</a></li>
        <li role="menuitem"><a ng-click="fatherBrowsConnection('Joined')" href="#">Joined</a></li>
      </ul>
    </div>

    <!-- mother -->
    <p>Mother</p>
    <div class="btn-group" uib-dropdown>
      <button id="motherBrows" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ motherBrows }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motherBrows">
        <li role="menuitem"><a ng-click="motherBrowsConnection('Separate')" href="#">Separate</a></li>
        <li role="menuitem"><a ng-click="motherBrowsConnection('Joined')" href="#">Joined</a></li>
      </ul>
    </div>
    <input type="submit" value="Submit">
   </div>

<!-- Eye Color -->
  <!-- Father -->
   <div>
    <p>Eye Color</p>
    <p>Father</p>
    <div class="btn-group" uib-dropdown>
      <button id="fatherEye" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ fatherEye }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fatherEye">
        <li role="menuitem"><a ng-click="fatherEyeColor('Brown')" href="#">Brown</a></li>
        <li role="menuitem"><a ng-click="fatherEyeColor('Blue')" href="#">Blue</a></li>
      </ul>
    </div>

    <!-- mother -->
    <p>Mother</p>
    <div class="btn-group" uib-dropdown>
      <button id="motherEye" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ motherEye }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motherEye">
        <li role="menuitem"><a ng-click="motherEyeColor('Brown')" href="#">Brown</a></li>
        <li role="menuitem"><a ng-click="motherEyeColor('Blue')" href="#">Blue</a></li>
      </ul>
    </div>
    <input type="submit" value="Submit">
   </div>

<!-- Lash Length -->
  <!-- Father -->
   <div>
    <p>Lash Length</p>
    <p>Father</p>
    <div class="btn-group" uib-dropdown>
      <button id="fatherLash" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ fatherLash }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fatherLash">
        <li role="menuitem"><a ng-click="fatherLashLength('Long')" href="#">Long</a></li>
        <li role="menuitem"><a ng-click="fatherLashLength('Short')" href="#">Short</a></li>
      </ul>
    </div>

    <!-- mother -->
    <p>Mother</p>
    <div class="btn-group" uib-dropdown>
      <button id="motherLash" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ motherLash }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motherLash">
        <li role="menuitem"><a ng-click="motherLashLength('Long')" href="#">Long</a></li>
        <li role="menuitem"><a ng-click="motherLashLength('Short')" href="#">Short</a></li>
      </ul>
    </div>
    <input type="submit" value="Submit">
   </div>

<!-- Dimples -->
  <!-- Father -->
   <div>
    <p>Dimples</p>
    <p>Father</p>
    <div class="btn-group" uib-dropdown>
      <button id="fatherDimples" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ fatherDimples }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fatherDimples">
        <li role="menuitem"><a ng-click="fatherDimplesApperience('Has Dimples')" href="#">Has Dimples</a></li>
        <li role="menuitem"><a ng-click="fatherDimplesApperience('No Dimples')" href="#">No Dimples</a></li>
      </ul>
    </div>

    <!-- mother -->
    <p>Mother</p>
    <div class="btn-group" uib-dropdown>
      <button id="motherDimples" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ motherDimples }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motherDimples">
        <li role="menuitem"><a ng-click="motherDimplesApperience('Has Dimples')" href="#">Has Dimples</a></li>
        <li role="menuitem"><a ng-click="motherDimplesApperience('No Dimples')" href="#">No Dimples</a></li>
      </ul>
    </div>
    <input type="submit" value="Submit">
   </div>

<!-- Freckles -->
  <!-- Father -->
   <div>
    <p>Dimples</p>
    <p>Father</p>
    <div class="btn-group" uib-dropdown>
      <button id="fatherFreckles" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ fatherFreckles }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fatherFreckles">
        <li role="menuitem"><a ng-click="fatherFrecklesApperience('Has Freckles')" href="#">Has Freckles</a></li>
        <li role="menuitem"><a ng-click="fatherFrecklesApperience('No Freckles')" href="#">No Freckles</a></li>
      </ul>
    </div>

    <!-- mother -->
    <p>Mother</p>
    <div class="btn-group" uib-dropdown>
      <button id="motherFreckles" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ motherFreckles }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motherFreckles">
        <li role="menuitem"><a ng-click="motherFrecklesApperience('Has Freckles')" href="#">Has Freckles</a></li>
        <li role="menuitem"><a ng-click="motherFrecklesApperience('No Freckles')" href="#">No Freckles</a></li>
      </ul>
    </div>
    <input type="submit" value="Submit">
   </div>



    <script src="bower_components/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="controllers/parent.js"></script>
    <script src="main.js"></script>
  </body>
</html>
