body {
  background-color: #e2e2e2;
}

nav {background-color: green;}


.thecontainer {max-width:1350px; width:100%; margin:0 auto; padding:0 3%; display:block; margin-bottom:100px;}

nav .thecontainer {margin-bottom:0;}

h1 {
    margin: 0;

    color: #fff;
    line-height: 140%;
    text-align: left;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
}

p {
  margin: 0 0 2px;
}

input[type=submit] {
    vertical-align: bottom;
    background-color: #333;
    border: 0;
    padding: 5px 10px;
    line-height: 100%;
    color: #fff;
}


.btn-primary {
    color: #fff;
    background-color: #999;
    border-color: #999;
    padding: 5px 10px;
    border-radius: 0;
    line-height: 90%;
}

.skinOlive {
  background-image: url(img/faceolive.png);
  width: 640px;
  height: 765px;
  background-size: 640px 765px;
  display: block;
}

.skinPale {
  background-image: url(img/facepale.png);
  width: 640px;
  height: 765px;
  background-size: 640px 765px;
  display: block;
}

.eyeBrown {
  background-image: url(img/browneyes.png);
  width: 448px;
  height: 162px;
  background-size: 448px 162px;
  display: block;
}

.eyeBlue {
  background-image: url(img/blueeyes.png);
  width: 448px;
  height: 162px;
  background-size: 448px 162px;
  display: block;
}

.seperated {
  background-image: url(img/uneyebrow.png);
  width: 481px;
  height: 62px;
  background-size: 481px 62px;
  display: block;
}

.joined {
  background-image: url(img/joineyebrow.png);
  width: 458px;
  height: 75px;
  background-size: 458px 75px;
  display: block;
}

.longLash {
  background-image: url(img/longlash.png);
  width: 366px;
  height: 59px;
  background-size: 366px 59px;
  display: block;
}

.shortLash {
  background-image: url(img/shortlash.png);
  width: 366px;
  height: 59px;
  background-size: 366px 59px;
  display: block;
}

.hasDimples {
  background-image: url(img/dimples.png);
  width: 175px;
  height: 46px;
  background-size: 175px 46px;
  display: block;
}

.hasFreckles {
  background-image: url(img/freckles.png);
  width: 458px;
  height: 54px;
  background-size: 458px 54px;
  display: block;
}

#menucontainer {
  float: left;
}

#rightcontainer {
  float: left;
}
